@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  justify-content: center;
}
.container {
  padding: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Faz com que o rodapé ocupe toda a largura da página */
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto */
  padding: 20px; /* Espaçamento interno do rodapé */
  text-align: center; /* Alinha o conteúdo do rodapé ao centro */
}
.carregando {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}